name: Test environment deployment

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest

    strategy:
      matrix:
        bun-version: [1.2.7]
    
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}

      - name: install
        run: bun install

      - name: build
        run: bun run build --mode test

      - name: deploy github pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist